:root {
    --primary-color: #EE8118;    /* 主要顏色 */
    --secondary-color: #FFEEE1;  /* 次要顏色 */
    --third-color: #ec9c4b;  /* 次要顏色 */
    --accent-color: #e74c3c;     /* 強調顏色 */
    --bg-color:#F8F5F4;
  }